
body {
  background-color: #f1f1f1;
}
.cover-photo {
  background: url('./assets//images//showcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 350px; */
  height: calc(100vh - 3rem);
}
.right {
  background-color: white;
  padding: 50px;
}
.right h1 {
  margin-bottom: 30px;
}

.note-msg::first-letter {
  font-weight: bold;
  color: red;
}